<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>net.tncy.claude83u.bookmanager</groupId>
  <artifactId>bookmanager-data</artifactId>
  <version>1.0.0</version>
  <packaging>jar</packaging>

  <name>bookmanager-data</name>
  <url>http://maven.apache.org</url>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
  </properties>

  <dependencies>
    <dependency>
      <groupId>junit</groupId>
      <artifactId>junit</artifactId>
      <version>3.8.1</version>
      <scope>test</scope>
    </dependency>
    
    <dependency>
        <groupId>net.tncy.validator</groupId>
        <artifactId>validation-constraints</artifactId>
        <version>1.0.6</version>
    </dependency>
  </dependencies>
  
</project>
