<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>net.tncy.claude83u.bookmanager</groupId>
  <artifactId>bookmanager-service</artifactId>
  <packaging>war</packaging>
  <version>1.0.0</version>
  <name>bookmanager-service</name>
  <url>http://maven.apache.org</url>
  
  <dependencies>
    <dependency>
      <groupId>junit</groupId>
      <artifactId>junit</artifactId>
      <version>3.8.1</version>
      <scope>test</scope>
    </dependency>
    
    <dependency>
        <groupId>net.tncy.claude83u.bookmanager</groupId>
        <artifactId>bookmanager-data</artifactId>
        <version>1.0.0</version>
    </dependency>
  </dependencies>
  <build>
    <finalName>bookmanager-service</finalName>
  </build>
</project>
